<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addCandidateImageChecker</servlet-name>
        <servlet-class>admincontroller.addCandidateImageChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userSet_PasswordEmail</servlet-name>
        <servlet-class>usercontroller.userSet_PasswordEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AadhaarExtractorServlet</servlet-name>
        <servlet-class>usercontroller.AadhaarExtractorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCandidateVoted</servlet-name>
        <servlet-class>AdminCandidateVoted</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addCandidateImageChecker</servlet-name>
        <url-pattern>/addCandidateImageChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userSet_PasswordEmail</servlet-name>
        <url-pattern>/userSet_PasswordEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AadhaarExtractorServlet</servlet-name>
        <url-pattern>/AadhaarExtractorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCandidateVoted</servlet-name>
        <url-pattern>/AdminCandidateVoted</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainHome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
