/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Dec, 2023, 7:00:39 AM
    Author     : INDIA
*/

body{
    font-family: 'Poppins', sans-serif;
    background: #ececec;
}

.box-area{
    width: 930px;
    
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin:0 10px;
    }
    .left-box{
        height:100px;
        overflow: hidden;
    }
    .right-box{
        padding: 20px;
    }
}